.donut-chart{
    svg {
        text {
            font-family: Poppins, sans-serif !important;
            font-size: 11px !important;
            font-weight: 400 !important;
        }
    }
}

.morris-chart-legend {
    padding-left: 0;
    list-style: none;
    text-align: center;
    li {
        display: inline-block;
        margin-left: 10px;
    }
}

.handleFilter {
    button {
        background-color: transparent;
        border: 0;
    }
}

.remove-filter-icon{
    position: relative;
    span{
        position: absolute;
        top: -7px;
        right: -6px;
        i{
            font-size: 0.5rem;
        }
    }
}
