.error-box {
  position: relative;
  background: url(../../../assets/images/error-bg.jpg) center center no-repeat
    #fff !important;
  padding-top: 1px;
  .error-body {
    padding-top: 0px;

    h1 {
      font-size: 100px;
      line-height: 115px;
    }
    button {
      margin-bottom: 312px;
    }
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .error-body {
      h1 {
        font-size: 85px;
      }
      button {
        margin-bottom: 296px;
      }
    }
  }

  @media (min-width: 481px) and (max-width: 768px) {
    .error-body {
      h1 {
        font-size: 85px;
      }
      button {
        margin-bottom: 680px;
      }
    }
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    .error-body {
      h1 {
        font-size: 85px;
      }
      button {
        margin-bottom: 1022px;
      }
    }
  }
}
