@mixin pulsate {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
  -webkit-animation: pulsate 1.7s infinite cubic-bezier(0.67, 0.04, 0.36, 1);
  -moz-animation: pulsate 1.7s infinite cubic-bezier(0.67, 0.04, 0.36, 1);
  -ms-animation: pulsate 1.7s infinite cubic-bezier(0.67, 0.04, 0.36, 1);
  // animation: pulsate 1.7s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsate 1.7s infinite cubic-bezier(0.67, 0.04, 0.36, 1);
  &:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
  }
}
