html {
  font-size: 18px !important;
}

button {
  &:focus {
    outline: none;
  }
}

a[disabled] {
  pointer-events: none;
}

.background-wrapper {
  background-image: url(../../assets/images/bg.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .white-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    // width: max-content;
    // width: -o-max-content;
    // width: -moz-max-content;
    // width: -webkit-max-content;
    // max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 6px;
    // border: 1px solid;

    @media (min-width: 768px) and (max-width: 1024px) {
      width: 53%;
    }

    @media (min-width: 320px) and (max-width: 480px) {
      width: 80%;
    }
  }
}

.navbar-top-links > li > a {
  padding: 0 15px !important;
}

.fix-sidebar .top-left-part,
.right-sidebar .rpanel-title {
  // background: #41dca9;
  //logo's background color is #4CE5B1 that's why
  background-color: #4ce5b1;
}

.headerLogo {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.noMessage {
  padding: 10px;
  font-weight: 400;

  i {
    font-size: 17px;
  }
}

.navbar-top-links {
  li {
    a {
      .icon-arrow-left-circle {
        color: #ffffff;
      }
    }
  }
}

.sidebar .fa-fw {
  text-align: center !important;
}

#side-menu {
  ul > li > a.active {
    &:focus {
      background: transparent !important;
    }
  }
}

// Used in user's profile view tabs
.nav {
  flex-wrap: wrap;
}

.c-pointer {
  cursor: pointer;
}

.btn-edit,
.btn-delete {
  border: none;
  font-size: 1rem;
  background: transparent;
}

.btn-edit:focus,
.btn-delete:focus {
  outline: none;
}

// Styles for mui-datatable
th[class*="MuiTableCell-head-"],
th[class*="jss"] {
  z-index: 9 !important;
  font-weight: bold;
  color: black;
}

th[class*="MUIDataTableSelectCell-root-"],
td[class*="MUIDataTableSelectCell-root-"],
th[class*="jss"] {
  background: #fff;
}

@media (max-width: 959.95px) {
  // .MUIDataTableSelectCell-root-123 {
  //     /* display: none; */
  // }
  th[class*="MUIDataTableSelectCell-root-"],
  td[class*="MUIDataTableSelectCell-root-"],
  th[class*="jss"] {
    display: table-cell !important;
    background: #fff;
  }
}

// div[class*="MuiSelect-select-"],
// div[class*="jss"]
// {
//     min-width: 20px !important;
//     font-size: 15px !important;
// }

td[class*="MuiTableCell-root-"],
td[class*="jss"] {
  padding: 4px 0px 4px 24px !important;

  .btn-circle {
    margin-top: 2px;
  }
}

div[class*="MuiTablePagination-actions-"],
div[class*="jss"] {
  margin-left: 0 !important;
}

li[class*="MuiMenuItem-root-"],
li[class*="jss"] {
  font-size: 15px !important;
}

li[class*="MuiListItem-root"],
li[class*="jss"] {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

div[class*="MuiTablePagination-select"] {
  padding-right: 12px;
}

// svg[class*="MUIDataTableSearch-searchIcon-"] {
//     display: none;
// }

// Style for back button
.goBack {
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
}

.sweet-alert {
  .lead {
    font-size: 1rem;
  }

  button {
    font-size: 0.8rem;
  }
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.3rem);
}

// Style to show alert on top of the page
.myadmin-alert {
  display: block;
}

// Style to set color for bootstrap-switch
.bootstrap-switch-success {
  background: #00c292 !important;
}

.bootstrap-switch-danger {
  background: #fb9678 !important;
}

.btn-icon-square {
  width: 30px;
  height: 30px;
  padding: 7px;
}

// Style for popover displayed on image in mui-datatable
.react-popover {
  padding: 10px !important;
  text-transform: capitalize;

  img {
    object-fit: contain;
  }
}

// Style for image displayed in mui-datatable
.round-img {
  min-width: 35px;
  width: 35px;
  height: 35px;
  object-fit: contain;
  border: 1px solid #d8d7d7;
  margin-bottom: 0;
  padding: 3px;
}

.bg-read {
  background: #e4e7ea !important;
}

.text-gray {
  color: gray;
}

.text-red {
  color: #ef2d2d;
}

.text-link {
  color: #23527c !important;
}

.text-pink {
  color: #41dca9 !important;
}

.text-default {
  color: #686868 !important;
}

.text-white {
  color: #ffffff !important;
}

.object-fit-cover {
  object-fit: cover;
}

.break-word {
  word-break: break-word;
}

.btn-circle {
  &:focus {
    outline: none;
  }
}

.txt-underline {
  text-decoration: underline;
}

.position-relative {
  position: relative !important;
}

.padding-10 {
  padding: 10px !important;
}

.vertical-mid {
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
}

.overlay-box {
  background: rgba(0, 0, 0, 0.7) !important;
}

.disabled-element {
  color: lightgray !important;
  cursor: not-allowed !important;
  // pointer-events: none;
}

.el-element-overlay .el-card-item .el-overlay-1 {
  width: 90%;
  height: 90%;
  padding: 5px;
  border: 1px solid;
}

.statusIcon {
  font-size: 22px;
}

.height-500 {
  height: 500px;
}

.width-235 {
  width: 235px;
}

.flex-column {
  flex-direction: column !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.cursor-default {
  cursor: default !important;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.padding-top-15 {
  padding-top: 15px !important;
}

.position-absolute {
  position: absolute !important;
}

.p-5-10 {
  padding: 5px 10px !important;
}

.input-danger {
  border: 1px solid #fb9678 !important;
}

.btn-chat {
  font-size: initial;
  margin: 0 auto;
  padding: 8px;
  width: 125px;

  &:focus {
    outline: none;
  }
}

.historyBlock {
  max-height: 450px;
  overflow-y: auto;
  padding: 3px;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);

  .card {
    &:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
  }
}

.load-more {
  margin: 0 auto;
  display: block;
}

// pulse animation
@-webkit-keyframes pulsate {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);
  }
}

@-moz-keyframes pulsate {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);
  }
}

@-ms-keyframes pulsate {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);
  }
}

@keyframes pulsate {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);
  }
}

// pulse animation
@-webkit-keyframes heartbeat {
  to {
    transform: scale(1.1);
  }
}

@-moz-keyframes heartbeat {
  to {
    transform: scale(1.1);
  }
}

@-ms-keyframes heartbeat {
  to {
    transform: scale(1.1);
  }
}

@keyframes heartbeat {
  to {
    transform: scale(1.1);
  }
}

// Pagination

.my-select {
  width: 70px;
  height: 35px !important;
  border: none !important;
  cursor: pointer;
}

// changed opacity from 0.9 to 1 for react tooltip
.__react_component_tooltip.show {
  opacity: 1;
}

.radio {
  label::before {
    border: 1px solid #a6acbc;
  }
}

//notification dropdown

.notification-list {
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;

  h5 {
    margin-top: 4px !important;
  }
}

.btn-dollar {
  background: #fa8330;
  border: 1px solid #fa8330;
  color: white;
}
.btn-cancel-booking {
  background: #e46a76;
  border: 1px solid #e46a76;
  color: white;
}
// User profile view
.user-profile {
  .user-bg .overlay-box {
    background: transparent !important;

    .user-content {
      display: flex;
      justify-content: center;
      height: 100%;
      margin-top: 0 !important;
      // background: #4f5467;
      background: transparent;

      .thumb-lg {
        width: 170px;
        height: 170px;
        align-self: center;
        border: 1px solid #bab9b8;
      }
    }
  }
}

// .__react_component_tooltip.type-dark {
//     color: #000;
//     background-color: #d8d7d7;
// }

// .__react_component_tooltip.type-dark.place-right:after{
//     border-right-color: #d8d7d7 !important;
// }
// .__react_component_tooltip.type-dark.place-top:after{
//     border-top-color: #d8d7d7 !important;
// }
// .__react_component_tooltip.type-dark.place-left:after{
//     border-left-color: #d8d7d7 !important;
// }
// .__react_component_tooltip.type-dark.place-bottom:after {
//     border-bottom-color: #d8d7d7 !important;
// }

.rap-popper-div-arrow[data-placement*="right"]::before {
  // border-width: 0 1em 0.6em 1em;
  /* ontrole the dimensions for the arrow */
  // border-color: transparent transparent #fff transparent !important;
  /*set the color for the arrow */
  // filter: drop-shadow(0px 1px 1px #141414);
  margin: 10px 0 0 3px;
  border-width: 0.7em 0.7em 0.7em 0;
  border-color: transparent #797979 transparent transparent;
}

.flex-col {
  flex-direction: column !important;
}

.rap-popper-div {
  display: inline-block;
  margin: 0.9em;
  padding: 1em;
  border-radius: 5px;
  background: #797979;
}

.btn-action {
  font-size: 17px;
  line-height: 1;
}

.btn-download {
  color: #fff;

  &:hover,
  &:focus {
    color: #fff;
  }
}

.verify-user {
  cursor: pointer;
  color: #23527c;
  width: fit-content;
}

@media (max-width: 767px) {
  .dropdown .mailbox {
    left: -190px;
  }
}

// Marker styles

.marker-red {
  color: #c92a2a;
}

.marker-black {
  color: #000000;
}

.marker-blue {
  color: #1e3f7f;
}

.marker-yellow {
  // color: #fec107;
  color: #fed000;
}

.marker-green {
  // color: #0f610f;
  color: #2eaf16;
}

.marker-pink {
  color: #41dca9;
}

.marker-gray {
  // color: #4f5467;
  color: #7b92a6;
}

.marker-pink-red {
  // color: #fb9678;
  color: #ed604b;
}

.marker-orange {
  // color: #fb9678;
  color: #ff9928;
}

.marker-dark-cyan {
  // color: #45a9f3;
  color: #105b5f;
}

.marker-sky-blue {
  color: #348abf;
}

// Style for action buttons inside data-table
.action-button {
  line-height: 0;
  vertical-align: bottom;

  &:focus {
    color: #fff;
  }
}

.custom-searchlist {
  max-height: 150px;
  overflow: auto;

  .searchlist-item {
    border-bottom: 1px solid #d3d3d3a1;
    font-size: 13px;
    color: gray;

    &:last-child {
      border-bottom: 0px;
    }
  }

  .active {
    color: #000;
    font-weight: 500;
  }
}

.label-style {
  color: #337ab7;
  text-decoration: underline;
  font-weight: 400;
  cursor: pointer;
}

.customSelectToolbar {
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 6px;
  padding: 10px;
  color: #4f5467;
}

// Used to show box of given color
.color-box {
  margin: 5px;
  height: 20px;
  width: 20px;
  border: 1px solid black;
}

// .LiveLocationMapContainer {
//     height: 100%;
//     position: absolute;
//     top: 0;
//     bottom: -200px;
//     left: 0;
//     right: 0;
//     z-index: 0;
// }

.user-btn {
  // position: absolute;
  // right: 0;
  // top: 75px;
  background: #4ce5b1;
  border-radius: 50%;
  border: 3px solid #fff;
  width: 50px;
  height: 50px;
  color: #fff;
}

// add invisible scroll bar in right sidebar
.r-panel-body {
  overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

.iconInInput {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.tokenInput {
  position: absolute;
  right: 35px;
  top: 55%;
  transform: translate(-50%, -50%);
}

// Used in driver/customers tabel and manual booking form
.form-check {
  margin-bottom: 0 !important;
}

// Filter and sorting section in driver and customer page
.filterContainer {
  margin-bottom: 15px;
  padding: 17px;
  border: 1px solid #e3e8ec;
  // border-radius: 4px;
  // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4)
}

// settting z-index of calendar so that it overlaps data-table header
.react-datepicker-popper {
  z-index: 10 !important;
}
.title-label {
  padding: 6px 6px 6px 10px;
  margin-bottom: 10px;
  background: #4f5467;
  color: white;
}
.break-word {
  overflow-wrap: break-word;
}
.unset-p {
  padding: unset !important;
}
